<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zuishare.dao.AdvertisementDao">
	
	<select id="loadAdvertisement" parameterType="int" resultType="Advertisement">
		select * from tb_advertisement a where a.id = #{id}
	</select>
	
	<update id="updateStatus">
		update tb_advertisement set status = #{status} where id = #{id} 
	</update>
	
	<insert id="save" parameterType="Advertisement">
		insert into tb_advertisement(id,name,picUrl,width,height,url,priority,createDate,status) 
		values(null,#{name},#{picUrl},#{width},#{height},#{url},#{priority},#{createDate},#{status})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from tb_advertisement where id=#{id}
	</delete>
	
	
	<!-- 后台系统展示 -->
	<select id="findAllCount" resultType="long" parameterType="top.zuishare.spi.dto.request.RequestParam">
		select count(*) from tb_advertisement 
		<where>
			<if test="search!=null and search!=''">
				name like concat('%',#{search},'%')
			</if>
		</where> 
	</select>
	
	<!-- 后台系统展示 -->
	<select id="findList" resultType="Advertisement" parameterType="top.zuishare.spi.dto.request.RequestParam">
		select * from tb_advertisement 
		<where>
			<if test="search!=null and search!=''">
				name like concat('%',#{search},'%')
			</if>
		</where> 
		order by priority desc,id desc limit #{offset},#{limit}
	</select>
	
	<select id="findIndexAds" parameterType="int" resultType="Advertisement">
		select * from tb_advertisement where status=1 order by priority desc,id desc limit #{indexAdsSize}
	</select>
	
	<update id="updateAdvertisement" parameterType="Advertisement">
		update tb_advertisement set name=#{name},picUrl=#{picUrl},width=#{width},
		height=#{height},url=#{url},priority=#{priority} where id=#{id}
	</update>
</mapper>