<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zuishare.dao.CategoryDao">
	<resultMap type="Category" id="CategoryMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="enName" property="enName" jdbcType="VARCHAR"/>
		<result column="parentId" property="parentId" jdbcType="INTEGER"/>
		<result column="createDate" property="createDate" jdbcType="DATE" javaType="java.util.Date"/>
		<result column="createUserId" property="createUserId" jdbcType="INTEGER"/>
		<result column="columnId" property="columnId" jdbcType="INTEGER"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		
		<result column="parentName" property="parentName" jdbcType="VARCHAR"/>
		<result column="columnName" property="columnName" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap type="Category" id="CategoryChildMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="enName" property="enName" jdbcType="VARCHAR"/>
		<result column="parentId" property="parentId" jdbcType="INTEGER"/>
		<result column="columnId" property="columnId" jdbcType="INTEGER"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<collection property="children" ofType="Category">
			<id column="child_id" property="id" jdbcType="INTEGER"/>
			<result column="child_enName" property="enName" jdbcType="VARCHAR"/>
		</collection>
	</resultMap>
	
	<select id="findParentByAjax" resultType="Category">
		select c.id,c.enName from tb_category c where c.parentId is null order by c.createDate asc
	</select>
	
	<select id="loadCateByName" resultType="Category" parameterType="java.lang.String">
		select * from tb_category c where c.enName = #{enName}
	</select>
	
	<select id="checkHasChildren" resultType="long" parameterType="int">
		select count(id) from tb_category c where c.parentId = #{categoryId}
	</select>
	
	<select id="findCate" resultType="Category" parameterType="int">
		select * from tb_category c where c.columnId = #{colId} order by c.createDate asc
	</select>
	
	<select id="findAllParentCateList" resultType="Category">
		select * from tb_category c where c.parentId is null order by c.createDate asc
	</select>
	
	<select id="findChildrenByParentCateId" resultType="Category" parameterType="int">
		select c.id,c.enName from tb_category c where c.parentId = #{parentCateId} order by c.createDate asc
	</select>
	
	<!-- 后台系统展示 -->
	<select id="findAllCount" resultType="long">
		select count(*) from tb_category c 
		<where>
			<if test="search!=null and search!=''">
				name like concat('%',#{search},'%') or enName like concat ('%',#{search},'%')
				or remark like concat('%',#{search},'%')
			</if>
		</where> 
	</select>
	
	<select id="findList" resultMap="CategoryMap">
		select c1.*,c2.name as parentName,tc.name as columnName from tb_category c1 left join tb_category c2 
		on c1.parentId=c2.id inner join tb_column tc on c1.columnId=tc.id 
		<where>
			<if test="search!=null and search!=''">
				c1.name like concat('%',#{search},'%') or c1.enName like concat ('%',#{search},'%')
			</if>
		</where>
		order by c1.createDate desc,c1.id desc limit #{offset},#{limit}
	</select>
	
	<select id="findOneById" parameterType="int" resultMap="CategoryChildMap">
		select c1.*,c2.id as child_id,c2.enName as child_enName from tb_category c1 left join tb_category c2 
		on c2.parentId = c1.id where c1.id=#{categoryId}
	</select>
	
	<insert id="save">
		insert into tb_category(id,name,enName,parentId,createDate,createUserId,columnId,remark) 
		values(null,#{name},#{enName},#{parentId},#{createDate},#{createUserId},#{columnId},#{remark})
	</insert>
	
	<update id="updateCategory" parameterType="Category">
		update tb_category set name=#{name},enName=#{enName},parentId=#{parentId},
		columnId=#{columnId},remark=#{remark} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from tb_category where id=#{id}
	</delete>
	
	<select id="countByEname" resultType="long">
		select count(*) from tb_category where enName=#{enName}
	</select>
	
	<select id="findOneByEnName" parameterType="String" resultType="Category">
		select * from tb_category where enName=#{enName}
	</select>
	
	<!-- 生成页面使用 -->
	<select id="findAll" resultType="Category">
		select * from tb_category order by c.createDate desc
	</select>
	
</mapper>