<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zuishare.dao.NewsDao">
	<resultMap type="News" id="NewsMap">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="title" column="title" jdbcType="VARCHAR"/>	
		<result property="priority" column="priority" jdbcType="INTEGER"/>	
		<result property="url" column="url" jdbcType="VARCHAR"/>	
		<result property="createDate" column="createDate" jdbcType="DATE"/>	
		<result property="publishDate" column="publishDate" jdbcType="DATE"/>	
		<result property="clicks" column="clicks" jdbcType="INTEGER"/>
		<result property="imgTitlePath" column="imgTitlePath" jdbcType="VARCHAR"/>
		<result property="bref" column="bref" jdbcType="VARCHAR"/>
	</resultMap>
	
	<update id="updateClicks">
		update News set clicks = #{clicks} where id = #{newsId}
	</update>
	<insert id="save" parameterType="News" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into tb_news(id,title,introduce,content,priority,url,createDate,publishDate,clicks,keyWords,columnId,type,depth,bref,imgTitlePath)
		values(null,#{title},#{introduce},#{content},#{priority},#{url},#{createDate},#{publishDate},
		#{clicks},#{keyWords},#{columnId},#{type},#{depth},#{bref},#{imgTitlePath})
	</insert>
	
	<update id="updateNews">
		update tb_news set title=#{title},introduce=#{introduce},content=#{content},priority=#{priority},
		url=#{url},keyWords=#{keyWords},type=#{type},depth=#{depth},bref=#{bref},publishDate=#{publishDate},imgTitlePath=#{imgTitlePath} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from tb_news where id=#{newsId}
	</delete>
	<select id="findOne" parameterType="int" resultType="News">
		select * from tb_news where id=#{id}
	</select>
	
	<select id="findAllCount" resultType="long" parameterType="top.zuishare.spi.dto.request.RequestParam">
		select count(*) from tb_news 
		<where>
			<if test="search!=null and search!=''">
				title like concat('%',#{search},'%') or introduce like concat ('%',#{search},'%')
			</if>
		</where> 
	</select>
	
	<select id="findList" resultMap="NewsMap" parameterType="top.zuishare.spi.dto.request.RequestParam">
		select tn.id,tn.title,tn.priority,tn.url,tn.createDate,tn.publishDate,imgTitlePath,clicks,bref 
		from tb_news tn
		<where>
			<if test="search!=null and search!=''">
				title like concat('%',#{search},'%') or introduce like concat ('%',#{search},'%')
			</if>
		</where> 
		order by tn.priority desc,tn.id desc limit #{offset},#{limit}
	</select>

	<select id="findAllPublishNews" resultType="News">
		select id,clicks,title,publishDate,keyWords,priority,imgTitlePath,bref,content from tb_news where publishDate is not null
		order by priority desc, id desc
	</select>
	
	<select id="findIndexNews" resultType="News">
		select * from tb_news where publishDate is not null order by priority desc,createDate desc limit #{indexNewsSize}
	</select>
	
	<select id="findAllCountByColId" parameterType="long">
		select count(*) from tb_news where columnId=#{colId} and publishDate is not null
	</select>
	
	<select id="countByColId" parameterType="long">
		select count(*) from tb_news where columnId=#{colId} and publishDate is not null
	</select>

	<update id="updateViewNum">
		update tb_news
		<set>
			clicks=#{viewNum}
		</set>
		where id=#{newsId}
	</update>
</mapper>