<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zuishare.dao.ProductDao">
	<resultMap type="Product" id="ProductMap">
		<id column="id" jdbcType="INTEGER" property="id"/>	
		<result column="enName" jdbcType="VARCHAR" property="enName"/>		
		<result column="picUrl" jdbcType="VARCHAR" property="picUrl"/>	
		<result column="hot" jdbcType="BOOLEAN" property="hot"/>	
		<result column="publish" jdbcType="BOOLEAN" property="publish"/>	
		<result column="status" jdbcType="BOOLEAN" property="status"/>	
		<result column="priority" jdbcType="INTEGER" property="priority"/>	
		<result column="categoryEnName" jdbcType="VARCHAR" property="categoryEnName"/>		
	</resultMap>
	
	<select id="countByColId" parameterType="int" resultType="long">
		select count(*) from tb_product pr inner join tb_category ca on (pr.categoryId=ca.id) 
		inner join tb_column co on (ca.columnId = co.id) 
		where (co.id = #{id} or co.parentId = #{id}) and pr.status is true and pr.publish is true
	</select>
	
	<select id="countByCateId" parameterType="int" resultType="long">
		select count(pr.id) from tb_product pr inner join tb_category ca on (pr.categoryId=ca.id)  
		where (pr.categoryId = #{cateId} or ca.parentId = #{cateId}) and pr.status is true and pr.publish is true
	</select>
	
	<delete id="delete" parameterType="int">
		delete from tb_product where id=#{id}
	</delete>
	
	<insert id="save" parameterType="Product" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
		insert into tb_product(id,enName,categoryId,picUrl,introduce,description,hot,url,publish,
		createDate,createUserId,status,keyWords,priority) 
		values(null,#{enName},#{categoryId},#{picUrl},#{introduce},#{description},#{hot},#{url},
		#{publish},#{createDate},#{createUserId},#{status},#{keyWords},#{priority})
	</insert>
	
	<update id="updateProduct">
		update tb_product set enName=#{enName},categoryId=#{categoryId},picUrl=#{picUrl},introduce=#{introduce},
		description=#{description},hot=#{hot},url=#{url},keyWords=#{keyWords},priority=#{priority},publish=#{publish} where id=#{id}
	</update>
	
	<select id="findAllListByCateId" resultType="Product">
		select * from tb_product pr where pr.categoryId = #{cateId} and pr.status is true and 
		pr.publish is true order by pr.priority desc,pr.hot desc,pr.id desc limit #{start},#{pageSize}
	</select>
	
	<update id="updateStatus">
		update tb_product set status = #{status} where id = #{id}
	</update>
	
	<select id="findOne" parameterType="int" resultType="Product">
		select * from tb_product where id=#{productId}
	</select>
	
	<select id="findIndexPic" resultType="Product" parameterType="int">
		select * from tb_product where publish is true and status is true and hot is true order by priority desc,hot desc,id desc limit #{pageSize}
	</select>
	
	<select id="findList" resultType="Product" parameterType="top.zuishare.spi.dto.request.RequestParam">
		select tp.id,tp.enName,tp.picUrl,tp.hot,tp.publish,tp.status,tp.priority,tc.enName as categoryEnName 
		from tb_product tp inner join tb_category tc on tp.categoryId = tc.id 
		<where>
			<if test="search!=null and search!=''">
				tp.enName like concat('%',#{search},'%') 
			</if>
		</where>
		order by tp.priority desc,tp.hot desc,tp.id desc limit #{offset},#{limit}
	</select>
	
	<select id="findAllReleaseProductByLikeKeyWordList" resultType="Product">
		select * from tb_product where enName like concat('%',#{search},'%') and publish is true and status is true 
		order by priority desc,hot desc,id desc limit #{offset},#{limit}
	</select>
	
	<select id="countAllReleaseProductByLikeKeyword" resultType="long" parameterType="top.zuishare.spi.dto.request.RequestParam">
		select count(*) from tb_product where enName like concat('%',#{search},'%') and publish is true and status is true
	</select>
	
	<select id="findListByColId" resultType="Product">
		select * from tb_product pr inner join tb_category ca on (pr.categoryId=ca.id) inner join tb_column co on(ca.columnId=co.id)
		where pr.publish is true and pr.status is true and (ca.columnId=#{colId} or co.parentId=#{colId}) 
		order by priority desc,hot desc,id desc limit #{start},#{pageSize}
	</select>
	
	<select id="findAllCount" resultType="long" parameterType="top.zuishare.spi.dto.request.RequestParam">
		select count(*) from tb_product 
		<where>
			<if test="search!=null and search!=''">
				enName like concat('%',#{search},'%') 
			</if>
		</where>
		order by priority desc,hot desc,id desc
	</select>
</mapper>