<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zuishare.dao.ResourceDao">
	<resultMap type="Resource" id="typeResourceMap">
		<result column="res_string" jdbcType="VARCHAR" property="resString"/>
		<result column="name" jdbcType="VARCHAR" property="roleName"/>
	</resultMap>
	
	<select id="getAllResource" resultType="Resource">
		select r.*,rr.roleId as roleName from tb_resource r inner join tb_role_resource rr on r.id=rr.resourceId order by priority desc
	</select>
	
	<select id="findResourceByParentId" resultType="Resource">
		select r.id,r.name,r.descn from tb_resource r where r.menuId = #{menuId} and r.display is true order by priority desc
	</select>
	
	<select id="findAllResourceByParentId" resultType="Resource">
		select r.id,r.name,r.descn from tb_resource r where r.menuId = #{menuId} order by priority desc
	</select>
	
	<select id="findResourceByRole" resultType="Resource" parameterType="java.lang.String">
		select tr.id,tr.menuId from tb_role_resource rr inner join tb_resource tr on (rr.resourceId=tr.id) 
		inner join tb_role tro on (rr.roleId=tro.name) where rr.roleId = #{name} order by tr.priority desc
	</select>
	
	<select id="loadResourceByResourceId" parameterType="int" resultType="Resource">
		select r.* from tb_resource r where r.id = #{id}
	</select>
	
	<select id="getAllTypeResource" resultMap="typeResourceMap" parameterType="java.lang.String">
		select re.resString,r.name from tb_role r join tb_role_resource rr on r.name=rr.roleId join tb_resource re 
		on re.id=rr.resourceId where re.resType=#{type} order by re.priority
	</select>
	
	<delete id="delRoleResources" parameterType="java.lang.String">
		delete from tb_role_resource where roleId = #{roleName}
	</delete>
	
	<update id="insertRoleResources">
		insert into tb_role_resource(roleId,resourceId) values 
		<foreach collection="resources" item="item" separator=",">
         	(#{roleName}, #{item.id})
    	</foreach>
	</update>
	
	<insert id="saveResource" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="Resource">
		insert into tb_resource(descn,name,priority,resString,resType,menuId,display) 
		values(#{descn},#{name},#{priority},#{resString},#{resType},#{menuId},#{display})
	</insert>
	
	<insert id="insertSuperRoleResource" parameterType="Resource">
		insert into tb_role_resource(roleId,resourceId) values('ROLE_SUPER',#{id})
	</insert>
</mapper>